.menu-wrap {
	padding: 15px;
	// flex: 0 0 240px;
	width: 25%;
	a {
		text-decoration: none;
	}
	.menu-title {
		font-size: 18px;
		height: 30px;
		line-height: 30px;
		margin: 10px 0;
		color: #606c71;
	}
	.menu-content {
		padding-left: 10px;
		a {
			height: 36px;
			display: block;
			text-decoration: none;
			div {
				color: #23527c;
				font-weight: 500;
			}
		}
	}
}
